#error_explanation{
  color: red;
}



.edit {
  display: inline;
  padding-right: 10px;
}
.notice{
  font-size: large;
  text-align: center;
  color: orange;
}
a{
  text-decoration: none;
}
table{
  margin-top: 3rem;
}
