
  <div class="dropdown">
    <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      選單
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <p class= "dropdown-item"><%= "帳號:#{current_user.name}" %></p>
      <p class="dropdown-item"><%= "任務總數:#{all_tasks.count}" %></p><hr>
      <%= link_to '帳號', edit_user_path(current_user), class: "dropdown-item" %> 
      <%= link_to '登出', logout_path, method: :delete, class: "dropdown-item" %> 
    </div>
  </div>

  
